# Build output
Debug/
Release/

# IDE/Eclipse metadata
.metadata/
.settings/
*.launch

# Compiled files
*.o
*.d
*.elf
*.bin
*.hex
*.map
*.list
*.log
*.dep

# CubeIDE project backups and temp files
*.bak
*.tmp

# Optional: CubeMX generated folders (ha nem akarod verziózni)
# Drivers/
# Middlewares/

# Egyéb, ha előfordul:
*.swp
